body
{
    overflow: hidden;
}

.sidebar
{
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    top: 0;
    left: 0;
    position:fixed;
    background: var(--color-default);
    transition: all 0.5 ease;
}

.sidebar.active
{
    width: 250px;
}


.sidebar #btn
{
    color: var(--color-white1);
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #btn
{
    left: 90;
}
.sidebar ul
{
    margin-top: 20px;
}

.sidebar ul li
{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}
.sidebar ul li .tooltip
{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: var(--color-white1);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip
{
    display: none;
}
.sidebar ul li:hover .tooltip
{
    top: 50%;
    transition: all 0.5 ease;
    opacity: 1;
}
.sidebar ul li input
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--color-secund);
    padding-left: 50px;
    font-size: 18px;
    color: var(--color-white2);
}

.sidebar ul li .bx-search
{
    position: absolute;
    z-index: 99;
    color: var(--color-white1);
    font-size: 22px;
}

.sidebar ul li .bx-search:hover
{
    background: var(--color-white1);
    color: var(--color-default);

}

.sidebar ul li a
{
    color: var(--color-white1);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover
{
    color: var(--color-default);
    background: var(--color-white1);
}
.sidebar ul li i
{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .link_name
{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .link_name
{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content
{
    position: absolute;
    color: var(--color-white1);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile
{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: var(--color-secund);
}

.profile_content .profile .profile_details
{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details
{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img
{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job
{
    margin-left: 10px;
}

.profile .profile_details .name
{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job
{
    font-size: 12px;
}

.profile #log_out
{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active .profile #log_out
{
    left: 88%;
}
.home_content
{
    position: absolute;
    height: 100%;
    width: calc(100% -78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text
{
    font-size: 25px;
    font-weight: 500;
    color: var(--color-default);
    margin-top: 12px;
}

.sidebar.active .home_content
{
    width: calc(100% -78px);
    left: 78px;
}